.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  height: 500px;
}

th {
  text-align: left;
}

/*===== login page =====*/
.logo {
  margin: 25px;
  border: 1px solid black;
  line-height: 250px;
}

.login {
  float: left;
  display: inline-block;
  /*border: 1px solid black;*/
}

.signup {
  margin-left: 110px;
  display: inline-block;
  /*border: 1px solid black;*/
}

#btn_login {
  margin-left: 100px;
}

#btn_signup {
  margin-left: 100px;
}

.login_signup {
  text-align: center;
}

.notification {
  text-align: center;
  color: red;
  font-weight: bold;
}


/*===== user page =====*/
h1{
  text-align: center;
}

#user_page{
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  border: 1px solid black;
}

#available_surveys {
  float: left;
}

#my_surveys {
  float: right;
}

/*===== take survey =====*/
.survey_content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border: 1px solid black;
  text-align: center;
  padding: 25px;
}

/*===== create survey =====*/

.survey_create {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border: 1px solid black;
  text-align: center;
  padding: 25px;
}

.survey_create table {
  margin-right: auto;
  margin-left: auto;
}


/*===== User Profile =====*/

#user_page {
  list-style: none;
  width: 850px;
}

.survey_list {
  margin: 10px;
  width: 45%;
  border: 1px solid silver;
  height: 200px;
  overflow: auto;
  padding: 10px;
}

#available_surveys {
  float: left;
}

#my_surveys {
  float: right;
}

.nav_links {
  text-align: center;
  padding: 20px;
}

.nav_links a {
  margin: 15px;
}



body {
  background: url(http://starcrusade.fadingsuns.org/images/0/0b/Space-wallpaper.jpg
)}

.jumbotron {
  background-color: #222;
  border: none;

}

/*header{
font-family: inherit;
font-size: 58px;
text-align: center;
color: white
text-shadow: 2px 2px #158cba  ;
}
*/


header.jumbotron {
  font-size: 70px;
  color: #158cba;
}
form .login_signup {
  background-color: black;
}

.headers {
  color: white;
}

h2  {
color: white;
}
>>>>>>> styles homepage

