<h1>Create Survey</h1>

<form class="survey_create">

  <table>
    <tr>
      <td>Question</td>
      <td></td>
    </tr>
    <tr>
      <td>option 1</td>
      <td><input type="text" name="survey[question1_answer1]"></td>
    </tr>
    <tr>
      <td>option 2</td>
      <td><input type="text" name="option2"></td>
    </tr>
    <tr>
      <td>option 3</td>
      <td><input type="text" name="option3"></td>
    </tr>
  </table>
  <br>
  <button type="submit" formmethod="post" formaction="/survey">Create Survey</button>
  <button type="submit" formmethod="get" formaction="/">Home</button>

</form>
