<div class = 'survey-content'>
<ul>
<% @survey.questions.each do |question| %>

<li>
  <h2><%= question.text %><br></h4>

  <ul>
  <% question.answers.each do |answer| %>

  <li>
    <h3><%= answer.content %></h3>
    <p>
    <% if @survey.user_id == current_user.id %>
      <%= count_survey_responses(answer) %>
    <% else %>
      <% current_user.answers.find_by_question_id(question.id) %>
    <% end %>
    </p>
  </li>

  <% end %>
  </ul>


  <% unless logged_in? %>
    <%= erb :'/surveys/take' %>
  <% end %>

</li>

<% end %>
<ul>
</div>