<div class = 'survey-content'>
<ul>
<% @survey.questions.each do |question| %>

<li>
  <h2><%= question.text %><br></h4>

  <ul>
  <% question.answers.each do |answer| %>

  <li>
    <h3><%= answer.content %></h3>
    <p><%= count_survey_responses(answer) if @survey.user_id == current_user.id %></p>
  </li>

  <% end %>
  </ul>


  <% unless logged_in? %>
    <%= erb :'/surveys/take' %>
  <% end %>

</li>

<% end %>
<ul>
</div>