<h1><%= SURVEY.ID.TITLE %></h1>

<form class="survey_content">

  <ul>
  <% SURVEY.QUESTION.EACH do |question|%>
    <h3><%= question.text %></h3>

    <% question.each do |option| %>
      <input type="radio" name="test" value="option<%= question.option.id%>"><%= QUESTION.OPTION %><br>
    <% end %>

  <% end %>
  </ul>



  <button type="submit" formmethod="post" formaction="surveys/submit">Submit Survey</button>
  <button type="submit" formmethod="get" formaction="/">Home</button>
</form>
