<h1>Survey Title</h1>

<form class="survey_content">

  question a<br>
  <input type="radio" name="teset" value="option1">Option 1<br>
  <input type="radio" name="teset" value="option2">Option 2<br>
  <input type="radio" name="teset" value="option3">Option 3<br>
  <br>
  <button type="submit" formmethod="post" formaction="survey/submit">Submit Survey</button>
  <button type="submit" formmethod="get" formaction="/">Home</button>
</form>
