<header class='jumbotron'>The Ultimate Amazing Super Best Friends</header>
<div class="container">
  <div class="logo">
    Logo here
  </div>



<div class="login" class='jumbotron'>
  <form class='form-signin' role='form' action='/users/login' method='post'>
    <h2 class='form-signin-heading'>Already a member?</h2>
    <input type="email" name='user[email]' class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" class="form-control" name='user[password]' placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
  <br>
</div>

<div class="signup">
  <form class='form-signin' role='form' action='/users/login' method='post'>
    <h2 class='form-signin-heading'>Want to be a Super BF?</h2>
    <input type="email" name='user[email]' class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" class="form-control" name='user[password]' placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
  </form>
  <br>

</div>
  <% if flash[:notice] %>
  <div class="notification">
    <h3><%= flash[:notice].shift %></h3>
    <ul>
    <% flash[:notice].each do |error| %>
      <li><%= error %><li>
    <% end %>
    </ul>
  </div>
  <% end %>

